<h2>Paginas</h2>

<h3 class="mt-3">Reactive</h3>

<ul class="list-group">
  @for (item of reactiveMenu; track item.route) {
  <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLink]="[item.route]"
  >
    {{ item.title }}
  </li>
  }
</ul>

<h3 class="mt-3">Validaciones</h3>

<ul class="list-group">
  @for (item of authMenu; track item.route) {
  <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLink]="[item.route]"
  >
    {{ item.title }}
  </li>
  }
</ul>
